h1{
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
    text-decoration: dotted;

}
p{
    color: blue;
    text-align: right;
    font-size: xxx-large;
    font-style: italic;
    background-color: black;
    text-decoration: overline;
    
}
#css{
    background: #000;
    text-decoration: none;
    color: aliceblue;

}
h1:hover{
    background-color: aqua;
    color: white;
    text-align: center;
}
