body{
    background-color: rgb(87, 241, 87);
    color: azure;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 82px;
    margin-top: 100px;
    margin-right: 500px;
    max-width: 30%;
}
h2{
    padding: 50px;
    border: 5px dotted white;
    margin: 100px;
    width: fit-content;
margin-top: -50px;
}
input{
    margin-left: 200px;
    background-color: orange;
    font-size: 20px;
    width: fit-content;
    border: none;
    border-radius: 50px;
    margin-right: 50px;

}
.image{
text-align: right;
margin-top: -700px;
}
img{
    height: 700px;
    width: 45%;
}